.nav-files-container:not(.import-plugin-hidden) .import-plugin-hidden {
	display: none;
}

.import-plugin table {
	width: 100%;
	border-collapse: collapse;
}

.import-plugin tr.sep {
	padding-top: 10px;
	border-top: 1px solid var(--background-modifier-border);
	border-bottom: 1px solid var(--background-modifier-border);
}

.import-plugin td {
	padding: 18px 0 18px 0;
}

.import-plugin .import-question {
	width: 75%;
	text-align: left;
}

.import-plugin .import-option-A {
	width: auto;
	text-align: right;
	padding-right: 5px;
}

.import-plugin .import-option-B {
	width: auto;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.import-buttons {
	display: flex;              /* Establishes this container as a flex container */
    justify-content: flex-end;  /* Aligns children (the button) to the right */    
}

/* Style for the container that holds the buttons */
.import-buttons button {
	padding: 16px 16px;
    margin: 15px 0 0 15px;         /* Optional: Adds margin on the right for spacing from container edge */
}

/* Focus styles for accessibility */
/*
.import-buttons button:focus {
    outline: 3px solid var(--interactive-accent-hover);
    outline-offset: 2px;
}
*/

.import-switch {
	position: relative;
	display: inline-block;
	width: 50px;
	/* Width of the slider */
	height: 24px;
	/* Height of the slider */
}

.import-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.import-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-base-60);
	transition: .4s;
	border-radius: 24px;
}

.import-slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .2s;
	border-radius: 50%;
}

input:checked+.import-slider:before {
	transform: translateX(26px);
	/* Adjust translation distance */
}

.import-slider:hover {
	/* Keep the original accent color on hover */
	background-color: var(--color-base-70);
}

/* resort pairs modal */
.resort-pairs-modal {
	top: 0;
	box-sizing: border-box;
	& * { box-sizing: border-box; }

	display: grid;
	grid-template-rows: min-content minmax(0, 1fr) min-content;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	grid-template-areas: 
		"header preview"
		"scroller scroller"
		"bottom bottom"
	;
	width: 100%;
	height: calc(100% - 11.250px);
	padding-top: 1rem;

	& .resort-pairs-header {
		grid-area: header;

		& h4 { margin-block: 0.25rem; }
	}
	& .resort-pairs-preview {
		grid-area: preview;
		min-height: 6rem;
		display: flex;
		align-items: center;
		justify-content: end;
		overflow: hidden;
		position: relative;
		padding-inline: 1rem;

		/* background: teal; */
	}
	& .resort-pairs-scroller {
		grid-area: scroller;
		min-height: 0;
		max-height: 100%;
		overflow-y: auto;
	}
	& .resort-pairs-bottom-bar {
		grid-area: bottom;
		display: flex;
		flex-direction: row-reverse;
		padding: 0.25rem 0;
		gap: 0.5rem;
		justify-content: end;

		/* background: pink; */
	}
}

.import-preview-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
	height: 100%;
	min-height: 6rem;
	color: var(--text-muted);
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.15s ease;
}

.import-preview-icon {
	width: 32px;
	height: 32px;a
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
	color: var(--text-normal);
	/* icon credit to Lucide icons: https://github.com/lucide-icons/lucide under the ISC/MIT license */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m2 2l20 20M10.41 10.41a2 2 0 1 1-2.83-2.83m5.92 5.92L6 21m12-9l3 3'/%3E%3Cpath d='M3.59 3.59A2 2 0 0 0 3 5v14a2 2 0 0 0 2 2h14c.55 0 1.052-.22 1.41-.59M21 15V5a2 2 0 0 0-2-2H9'/%3E%3C/g%3E%3C/svg%3E");
}

.import-preview-text {
	font-size: 0.85rem;
}

.import-preview-image {
	max-width: 100%;
	height: 7rem;
	width: auto;
	object-fit: contain;
	object-position: center;
	display: block;
	transition: opacity 0.15s ease;
}
.reverse-ellipsis {
	direction: rtl;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.resort-pair-row {
	display: flex;
	align-items: center;
	gap: .5rem;

	padding: 0.3rem 0.5rem;
	border-radius: 4px;

	& .resort-pair-row-name, & select.resort-pair-row-to {
		padding-block: 0.125rem;
		padding-inline: 0.25rem;
		border-radius: var(--radius-s);
		border: 1px solid var(--background-modifier-border);
	}
	& .rpr-arrow {
		height: 100%;
		display: flex;
		align-items: center;
	}
	& .rpr-spacer { flex-grow: 1; };
	& .resort-pair-row-btn {
		border: 1px solid var(--background-modifier-border);
	}
	& .resort-pair-row-to {
		margin-right: .25rem;
	}
	& select.resort-pair-row-to {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		background: transparent;
		direction: initial;
	}
}
.resort-pair-row:not([data-selected="true"]) {
	& .resort-pair-row-name, & select.resort-pair-row-to {
		background: var(--background-primary-alt);
		/* border-color: var(--background-modifier-border); */
	}
}

.resort-pair-row:hover:not([data-selected="true"]) {
	background-color: var(--background-modifier-hover);
}
.resort-pair-row[data-selected="true"] {
	color: var(--modal-background);
	background-color: var(--interactive-accent);

	& .resort-pair-row-btn {
		color: var(--modal-background);
	}
}